.in1 {
    background: #01729a;
    height: 68px;
    width: 1084px;
    border-left: #b4b4b4 1px solid;
    border-right:#b4b4b4 1px solid;
}

.in36{
    height:80px;
}
.in37{
    text-align:center;
    width:230px;
    height:45px;
    margin-left:200px;
    margin-top:20px;
    font-size:12px;
    color: #b5c7ce;
}
.in38{
    margin-left:700px;
    margin-top:-30px;
}
.in39{
    margin-left:30px;
}
.in40,.in40:visited{
    color:#e0d8ff;
}
.in40:hover{
    clear:both;
    color: #e0d8ff;
}